.enlaces {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    padding: 40px;
}

.enlacesItem {
    cursor: pointer;
    background-color: #21662f;
    padding: 10px;
    border-radius: 50%;
}

.enlacesItem:hover {
    background-color: #e99c0c;
}