.enlaces {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    padding: 40px;
}

.enlacesItem {
    cursor: pointer;
}
.enlacesItem:hover{

    background-color: #21662f;
    padding: 10px;
    border-radius: 50%;
}