.objectfitCont {
    display: flex;
    justify-content: space-around;
}

.tituloHeader {
    display: flex;
    flex-direction: column;

}

.subtitulo {
    color: white;
    font-size: 19px;
    font-weight: 700;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    justify-content: space-around;
}

.objectfit {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.objectfit>img {
    width: 10rem;
    height: 12rem;
    object-fit: contain;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background-color: black;
    border: 3px solid #124C39;
    z-index: 1000;
}

.title {
    display: flex;
    justify-content: center;
    text-align: center;


}

.title2 {

    display: flex;
    justify-content: center;
    text-align: center;
    // marg
}

@media (max-width: 371px) {}

@media (min-width: 960px) {}